fastapi
uvicorn[standard]
sqlalchemy
asyncpg
databases
alembic
psycopg2-binary
python-dotenv
pydantic
email-validator
fastapi-mail
fastapi-security
pytest
httpx
mypy
python-multipart
fastapi-utils
fastapi-pagination